.main {
    padding: 10px;
}


.blink {
    animation: blinker 250ms ease-in-out;
}

@keyframes blinker {
    50% {
        background: red;
    }
}


.singleComment {
    padding: 10px 0px 0px 0px;
}

    .singleComment .commentTitle  {
        font-size: 120%;
        font-weight: bold;
    }

    .singleComment .commentBody {
    }
